*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin-top: 10rem;
}

ul{
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
  width: 20%;
  margin: 0 auto;
}

ul li{
  padding: 1rem 1rem;
  border: 2px solid #000;
}

ul li:hover{
   font-size: 1.3rem;
   background-color: aqua;
   color: red;
}

.services{
  border-bottom: none;
  background-color: lightblue;
}

.customModal{
  padding: 3rem;
  width: 35%;
  border-radius: 7px;
  padding-right: 1.2rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
}

.customModal h2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.customModal p{
  text-align: justify;
  width: 80%;
}
